{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<h2 class="mb-4">🛒 My Cart</h2>
{% if items %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.qty }}</td>
      <td>৳ {{ i.price }}</td>
      <td>৳ {{ i.price * i.qty }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4>Grand Total: ৳ {{ total }}</h4>
<a href="/checkout" class="btn btn-success">Proceed To Checkout</a>
{% else %}
<div class="alert alert-warning">🛒 Your cart is empty!</div>
{% endif %}
{% endblock %}
