{% extends "base.html" %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<h2>🛒 My Cart</h2>

{% if items %}

{% for i in items %}

<div class="card">

    <h3>{{ i["name"] }}</h3>

    <p>Qty: {{ i["qty"] }}</p>

    <p>
        Price:
        ৳ {{ i["market_price"] }}
    </p>

    <p>
        Total:
        ৳ {{ i["total"] }}
    </p>

</div>

{% endfor %}

<div class="card">

    <h2>
        Grand Total:
        ৳ {{ total }}
    </h2>

    <a href="/checkout">
        <button>
            Proceed To Checkout
        </button>
    </a>

</div>

{% else %}

<div class="card">

    Cart Empty

</div>

{% endif %}

{% endblock %}