<!DOCTYPE html>
<html>
<head><title>Cart</title></head>

<body>
{% extends "base.html" %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<h2>🛒 My Cart</h2>

{% if items %}

    {% for i in items %}

    <div class="card">

        <h3>{{ i["name"] }}</h3>

        <p>Qty: {{ i["qty"] }}</p>

        <!-- 🔥 FIXED PRICE -->
        <p>
            Price:
            ৳ {{ i["market_price"] }}
        </p>

        <!-- 🔥 ITEM TOTAL -->
        <p>
            Total:
            ৳ {{ i["total"] }}
        </p>

    </div>

    {% endfor %}

    <div class="card">
        <h2>Grand Total: ৳ {{ total }}</h2>
    </div>
    <div class="card">

            <h2>Grand Total: ৳ {{ total }}</h2>

            <a href="/checkout">
                <button style="background:green;color:white;padding:10px;">
                    Proceed to Checkout 💳
                </button>
            </a>

        </div>
{% else %}

    <div class="card">
        <p>Your cart is empty</p>
    </div>

{% endif %}

{% endblock %}
</body>
</html>