{% extends "base.html" %}

{% block title %}
Marketplace
{% endblock %}

{% block content %}

<h2>🛒 Marketplace</h2>

<a href="/cart">
    <button>🛍 View Cart</button>
</a>

<br><br>

{% for p in products %}

<div class="card">

    <h3>{{ p["name"] }}</h3>

    {% if p["image"] %}
    <img
    src="{{ url_for('static', filename='uploads/' + p['image']) }}"
    width="250">
    {% endif %}

    <p>
        Price: ৳ {{ p["market_price"] }}
    </p>

    <a href="/cart/add/{{ p['id'] }}">
        <button>Add To Cart</button>
    </a>

</div>

{% endfor %}

{% endblock %}