{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Signup</h2>

<form method="post">

<input name="username" required placeholder="Username">

<br><br>

<input
type="password"
name="password"
required
placeholder="Password"
>

<br><br>

<input
name="mobile"
required
placeholder="Mobile"
>

<br><br>

<select name="role">

<option value="buyer">
Buyer
</option>

<option value="farmer">
Farmer
</option>

</select>

<br><br>

<button>
Signup
</button>

</form>

</div>

{% endblock %}